<%= form_for(@pet, multipart: true, html: {id: "pet_form"}) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :pet_type %><br>
      <%= f.text_field :pet_type, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :breed %><br>
      <%= f.text_field :breed, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :color %><br>
      <%= f.text_field :color, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :weight %><br>
      <%= f.text_field :weight, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :birth_year %><br>
      <%= f.text_field :birth_year, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :chip_id %><br>
      <%= f.text_field :chip_id, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image, class: "form-control" %>
    </div>
    <div class="actions">
      <%= f.submit "Add pet", class: "btn btn-primary btn-block", id: "addPet" %>
    </div>
  </div>
<% end %>
