<tr class="pet-rows custom new">
	<td class="clickable">
		<a href="<%= pet_path(@pet) %>"><img src="<%= @pet.image.url(:thumb) %>" alt="Image of <%= @pet.name %>" class="img-thumbnail" /></a>
	</td>
	<td class="clickable"><%= @pet.name %></td>
	<td class="clickable"><%= @pet.pet_type %></td>
	<td class="group">
		<% if @pet.user.is current_user %>
      <%= link_to "Edit pet", edit_pet_path(@pet), class: "link-btn"%>
       <% if is_lost? @pet.id %>
       	<%= button_to 'Found', update_report_path(@pet.reports.last.id), params: {'report[is_active]' => false }, method: :patch, class: "button found-btn link-btn", :form => { :id => "foundId" }, remote: true %>
       	<% else %>
       		<%= link_to "Report lost", new_report_path(@pet.id), class: "link-btn lost-btn", id: "report-lost" %>
      <% end %>
    <% end %>
	</td>
</tr>
