<div class="jumbotron">
  <div class="row">
  <div class="col-xs-6 col-md-4">
    <%= image_tag @pet.image.url(:medium), class: "thumbnail  img-responsive" %>
  </div>
    <div class="col-xs-6 col-md-8">
      <div class="thumbnail">
        <p><strong>Name:</strong><%= @pet.name %></p>
        <p><strong>Type:</strong><%= @pet.pet_type %></p>
        <p><strong>Breed:</strong><%= @pet.breed %></p>
        <p><strong>Color:</strong><%= @pet.color %></p>
        <p><strong>Weight:</strong><%= @pet.weight %></p>
        <p><strong>Age:</strong><%= @pet.age %></p>
      </div>
    <p><strong>Owner:</strong><%= @pet.user.name %></p>
    <p><strong>Chip:</strong><%= @pet.chip_id %></p>
    <p><strong>Description:</strong><%= @pet.description %></p>
  </div>
  </div>
</div>


<% if @pet.user.is current_user %>
  <%= link_to 'Edit', edit_pet_path(@pet) %> |
<% end %>

