<div class="row" id="pets-container">
	<div class="col-md-6 col-md-offset-3">
		<h2 id="pets-title">Your pets</h2>
	</div>
	<div class="col-md-1 col-md-offset-2">
	 <%= link_to 'Add Pet', new_pet_path, class: "pull-right link-btn", id: "userPet", remote: true %>
	</div>
</div>

	<div id="newPet">
  		<%= render 'pets/form' %>
	</div>
	<div id="newPetForm" style="display:none;"></div>

<% @user.pets.each do |pet| %>
	<div id="userPets">
	<div class="media">
	  <div class="media-left">
	    <a href="#">
	      <img class="media-object custom-dog" src="http://static1.squarespace.com/static/52ed8c2ce4b09f388981c1e7/t/52ef2984e4b0358dd4df714c/1391405444963/DOG+ICON.png" alt="placeholder dog">
	    </a>
	  </div>
	  <div class="media-body">
		  <div class="row">
		  	<div class="col-md-2">
		    	<h3 class="media-heading"> <%= pet.pet_type %> </h3>
		    	<ul id="left-list">
		    		<li><strong>Name: </strong><%= pet.name %> </li>
		    		<li><strong>Breed: </strong><%= pet.breed %> </li>
		    </div>
		    <div class="col-md-2">
		    	<ul id="center-list">
		    		<li><strong>Age: </strong> <%= Time.now.year - pet.birth_year.to_i %></li>
		    		<li><strong>Weight: </strong><%= pet.weight %> </li>
		    		<li><strong>Color: </strong> <%= pet.color%></li>
		    		<li><strong>Rfid ID: </strong> <%= pet.chip_id %> </li>
		    	</ul>
		    </div>
		    <div class="col-md-4">
		    	<p id="right-list"> <Strong> Description: </strong></br>
		    		<%= pet.description %>
		    	</p>
		    </div>

		    <% if current_user == @user %>
		    	<div class="col-md-3 pull-right">
		    		<%= link_to "Report lost", new_report_path(pet.id), class: "link-btn", id: "report-lost" %>
		    	</div>
		    	<% if is_lost? pet.id %>
					<%= button_to 'Found', update_report_path(pet.report.id), params: {'report[is_active]' => false }, method: :patch %>
		    	<% end %>		
		    <% end %>
		  </div>
		</div>
	</div>
	</div>
<% end %>