<div class="col-md-12 panel panel-default" id="user-pet-table">
	<div class="col-md-6 col-md-offset-3">
		<% if current_user == @user %>
			<h2 id="pets-title">Your pets</h2>
		<% else %>
			<h2 id="pets-title"><%= @user.name.split(' ')[0] %>'s Pets</h2>
		<% end %>
	</div>
	<%= render 'new_user_pet' %>
	<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Pet Name</th>
				<th>Type</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @user.pets.each do |pet| %>
				<tr class="pet-rows custom">
					<td>
						<a href="<%= pet_path(pet) %>"><img src="<%= pet.image.url(:thumb) %>" alt="Image of <%= pet.name %>" class="img-thumbnail" /></a>
					</td>
					<td><%= pet.name %></td>
					<td><%= pet.pet_type %></td>
					<td class="group">
						<% if current_user == @user %>
		          <%= link_to  edit_pet_path(pet) do %>
		            <span class='glyphicon glyphicon-pencil'></span>
		           <% end %>
		           <% if is_lost? pet.id %>
		           	<%= button_to 'Found', update_report_path(pet.reports.last.id), params: {'report[is_active]' => false }, method: :patch, class: "button found-btn link-btn" %>
		           	<% else %>
		           		<%= link_to "Report lost", new_report_path(pet.id), class: "link-btn lost-btn", id: "report-lost" %>
		          <% end %>
		        <% end %>
					</td>
				</tr>
		<% end %>
		</tbody>
	</table>
</div>
