<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-6 col-md-2 field">
        <%= f.label :date_of_loss %>
        <%= f.text_field :date_of_loss, class: "form-control", data: { provide: 'datepicker' } %>
      </div>
      <div class="col-xs-6 col-md-10 field">
        <%= f.label :location %><br>
        <%= f.text_field :location, class: "form-control", placeholder: "Where did you last see your pet?" %>
      </div>
    </div><br>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control", placeholder: "Describe what happened" %>
    </div><br>
    <div class="field">
      <%= f.label :notes %><br>
      <%= f.text_area :notes, class: "form-control", placeholder: "Please note anything someone looking for your pet might need to know." %>
    </div><br>
    <div class="field">
      <%= f.label :reward %><br>
      <%= f.text_field :reward, class: "form-control", placeholder: "If you are offering a reward please write it here; i.e. $100" %>
    </div><br>
    <div class="field">
      <%= f.hidden_field :pet_id, value: @pet.id %><br>
    </div>
    <div class="actions">
      <%= f.submit "Submit report", class: "btn btn-primary btn-block" %>
    </div>

  </div>

<% end %>
