<h1>Owner Contact Info</h1>


<p>Thank you for finding <%= @report.pet.name %>!</p>
	 <p>Please contact:</p>
   <p><%= @user.name %></p>
   <p><%= @user.email %></p>
   <p><%= number_to_phone(@user.phone) %></p>
   <p><%= @user.city %>, <%= @user.state %></p>

