<p id="notice"><%= notice %></p>

<h1>Listing Reports</h1>

<table class="table table-striped display" id="table_id">
  <thead>
    <tr>
      <th>Date of loss</th>
      <th>Location</th>
      <th>User</th>
      <th>Pet</th>
      <th></th>
      <th>Edit</th>
      <th>Remove</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.date_of_loss.strftime("%m/%d/%Y") %></td>
        <td><%= report.location %></td>
        <td><%= report.user.name %></td>
        <td><%= report.pet.name %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to  edit_report_path(report) do %> 
          <span class='glyphicon glyphicon-pencil'></span>
              <% end %></td>
        <td><%= link_to report, method: :delete, data: { confirm: 'Are you sure?' } do %> <span class='glyphicon glyphicon-remove-circle'></span><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

