<p>
  <strong>Date of loss:</strong>
  <%= @report.date_of_loss.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>Location:</strong>
  <%= @report.location %>
</p>

<p>
  <strong>User:</strong>
  <%= @report.user.name %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @report.pet.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @report.notes %>
</p>
<p>
  <strong>Reward $ </strong>
  <%= @report.reward %>
</p>
<p>
  <strong>Image </strong>
      <div class="media-left">
      <a href="#">
        <img class="media-object custom-dog" src="http://static1.squarespace.com/static/52ed8c2ce4b09f388981c1e7/t/52ef2984e4b0358dd4df714c/1391405444963/DOG+ICON.png" alt="placeholder dog">
      </a>
    </div>
</p>

<% if current_user == @report.user %>
  <%= link_to 'Edit', edit_report_path(@report) %> |
<% end %>
<%= link_to 'Back', reports_path %>
