<div class="col-sm-offset-3 col-sm-6 panel panel-default">
  <h1>Contact Pet Owner</h1>
<%= form_tag process_contact_user_path(@report), method: 'post' do %>
	<div class="form-group">
		Name<br />
    <%= text_field_tag :reporter_name, nil, placeholder: "Enter your name",  class: "form-control" %>
  </div>
	<div class="form-group">
		Email<br />
    <%= email_field_tag :email, nil, :placeholder =>'Enter your email address', class: "form-control" %>
  </div>
  <div class="form-group">
		Phone Number<br />
    <%= phone_field_tag :phone, nil, :placeholder => "Enter the best number to reach you", class: "form-control" %>
  </div>
	<div class="form-group">
		Message<br />
    <%= text_area_tag :message, nil, rows: 10, cols: 25, class: 'form-control', placeholder: "Enter a message for the owner" %>
  </div>
  <div class="form-group cap">
    <%= show_simple_captcha %>
  </div>
  <br>
  <div class="actions">
    <%= submit_tag "Send", class: "btn btn-large btn-primary"%>
  </div>
  <br>
<% end %>
</div>

